.title {
    background-color: rgba(255,255,255,0.6);
    color: #BE2A08;
}

.recordings-item iframe {
    width: 320px;
    height: 180px;
}

blockquote {
    background: #3d4146;
    border-left: 10px solid #0a0a0f;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    visibility: hidden;
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

.about .container {
    background-color: #BCC1C8;
    color: #101720;
}

.suzuki-logo {
    background-image: url("../img/suzuki_logo.png");
    width: 31px;
    height: 45px;
    margin-right: 14px;
}

.dl-horizontal dd {
    padding-top: 10px;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}
